<div class="container">
    <div class="row">
        <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1Alri5nE84UId5yWogeBN8FvV3s0" class="control-group form-group col-md-6 float"
            width="640" height="580 ">
        </iframe>
        <form action="/Event/create" method="post" id="sign-up-form" class="control-group form-group col-md-6" name="signup">
            <div>
                <h2 class="form-signin-heading" style=" margin: auto;
                    width: 25%;">
                    <b>Event Entry</b>
                </h2>

                <div class="control-group form-group col-md-12">
                    <label>Name of the Entity</label>

                    <!-- For this input field make it required, and have a max length of 25 -->
                    <input type="text" class="form-control" name="entity">
                </div>

                <!-- Organization -->

                <div class="control-group form-group col-md-12">
                    <label>Organization</label>
                    <input type="text" class="form-control" name="org">
                </div>
                <div class="control-group form-group col-md-12">
                    <label>Category</label>
                    <select name="category">
                        <option value="Shop">Shops</option>
                        <option value="Sight-Seeing">Sight Seeing</option>
                        <option value="Food">Food</option>
                        <option value="Entertainment">Entertainment</option>
                        <option value="Other">Other</option>
                    </select>
                </div>
                <div class="control-group form-group col-md-12">
                    <label>Description</label>
                    <textarea class="control-group form-group col-md-12" style="max-width: 100%;" name="body"></textarea>
                </div>
                <div class="control-group form-group col-md-12">
                    <label>Address</label>
                    <input type="text" class="form-control" name="address">
                </div>
                <div class="control-group form-group col-md-12">
                    <label>Zipcode</label>
                    <input type="text" class="form-control" name="zipcode">
                </div>
                <div class="control-group form-group col-md-12">
                    <label>Web Link</label>
                    <input type="text" class="form-control" name="weblink">
                </div>



                <!-- <div class="control-group form-group col-md-7 ">
                    <label for="exampleFormControlFile1">Profile Picture</label>
                    <input type="file" class="form-control-file" name="profilepic">
                </div> -->

                <br/>
                <!-- <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1Alri5nE84UId5yWogeBN8FvV3s0" width="640" height="480"></iframe> -->
                <!-- Disable signup button until the form has no errors -->
                <button class="btn btn-primary btn-lg btn-block" type="submit">
                    <span>Submit Info</span>
                </button>

                <input type="hidden" name="_csrf" value="<%= _csrf %>" />
                <!-- </form> -->
        </form>
        </div>
    </div>
</div>