<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Ectr</title>

  <!-- Bootstrap core CSS -->
  <link href="styles/private/media/bootstrap/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="styles/private/media/custom/blog-post.css" rel="stylesheet">

</head>

<body>
  <% include menu %>
    <%- body %>

      <!-- Footer -->
      <footer class="py-5 bg-dark">
        <div class="container">
          <p class="m-0 text-center text-white">Copyright &copy; Ectr 2018</p>
        </div>
        <!-- /.container -->
      </footer>

      <!-- Bootstrap core JavaScript -->
      <script src="js/private/media/jquery/jquery.min.js"></script>
      <script src="js/private/media/bootstrap/bootstrap.bundle.min.js"></script>

</body>

</html>