<!-- New Page FORM -->
<div class="container">
    <form action="/Event/create" method="post" id="sign-up-form" class="form-signin" name="signup">
        <h2 class="form-signin-heading">Create an account</h2>
        <% if(flash && flash.err) { %>
            <div class="alert alert-danger serverr">
                <h3>Client-Error Server-Detection</h3>
                <ul class="alter alter-success">
                    <% Object.keys(flash.err).forEach(function(error) {%>
                        <li>
                            <%- JSON.stringify(flash.err[error]) %>
                        </li>
                        <% }) %>
                </ul>
            </div>
            <% } %>

                <div class="row">

                    <!-- Title -->

                    <!-- checking whether the form "signup" with the "name" property is both $invalid AND $dirty.  If it is
              insert the "has-error" class on the input field (i.e. insert a red border around the input field)
              -->
                    <div class="control-group form-group col-md-12">
                        <label>Enter the Title</label>

                        <!-- For this input field make it required, and have a max length of 25 -->
                        <input type="text" class="form-control" name="title" ng-maxlength="50" required>
                    </div>

                    <!-- LAST NAME -->

                    <div class="control-group form-group col-md-12">
                        <label>Describe the Event</label>
                        <input type="text" class="form-control" name="body" required>
                    </div>

                    <!-- E M A I L -->

                    <div class="control-group form-group col-md-12">
                        <label>Enter the Header</label>
                        <input type="text" class="form-control" name="header">
                    </div>

                    <div class="control-group form-group col-md-7 ">
                        <label for="exampleFormControlFile1">Profile Picture</label>
                        <input type="file" class="form-control-file" name="profilepic">
                    </div>

                    <br/>
                    <!-- <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1Alri5nE84UId5yWogeBN8FvV3s0" width="640" height="480"></iframe> -->
                    <!-- Disable signup button until the form has no errors -->
                    <button class="btn btn-primary btn-lg btn-block" type="submit">
                        <span>Create Account</span>
                        <span class="fa fa-spinner fa-spin"></span>
                        <!-- <span >Preparing your new account...</span> -->
                    </button>

                    <input type="hidden" name="_csrf" value="<%= _csrf %>" />
    </form>
    </div>